body{
    margin: 0;
    background-color: #386641;
    color:#cad182;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

canvas{
    background-color: #fb6f92;
    border: 3px solid #a7c957;
    margin-top: 16px;

}
h1{
    color: #cad182;
    font-size: 32px;
    margin-top: 16px;
}
